{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h2>coucou</h2>
    <a href="{{ path("app_todo") }}" class="btn btn-success">voir les trucs à faire</a>
{% endblock %}
