{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}

    <h1>ca c'est UN TRUC à faire</h1>


    <hr>
        <p>ID = {{ todo.id }}</p>
    <p><strong>{{ todo.description }}</strong></p>


    <a href="#" class="btn btn-danger">A faire</a>
        <a href="{{ path('todo_delete', {id:todo.id}) }}" class="btn btn-danger">Delete</a>
    <hr>

{% endblock %}
